form(action=`/students?groupId=${groupId}` method='POST')
  input(type='text' name='name' placeholder='name')
  input(type='text' name='sex' placeholder='sex')
  input(type='text' name='age' placeholder='age')
  input(type='submit')
