extends ../layout

block content
  each group in groups
    include ../components/group
    if updating == group.id
      include ../forms/update/update-group
    hr
  include ../forms/create/create-group
